.img {
	height: 70%;
}
img {
	border-radius: 10px 10px 0px 0px;
	width: 100%;
	max-height: 100%;
	object-fit: cover;
}
/*card */
.cards {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}

.card {
	background-color: #fff;
	border-radius: 1rem;
	position: relative;
	text-decoration: none;
	color: inherit;
	display: block;
	width: 48%;
	margin: auto;
	margin-top: 10px;
	margin-bottom: 10px;
}

.card-img {
	height: 12rem;
	width: 100%;
	border: 0 solid transparent;
	border-radius: 1rem 1rem 0 0;
	box-shadow: none;
	object-fit: cover;
}

.card-badge {
	background-color: #99e2d0;
	color: #1b6150;
	padding: 0.5rem;
	border-radius: 0.125rem;
	position: absolute;
	top: 1rem;
	right: 0.75rem;
	font-weight: bold;
}

.card-footer {
	padding: 1rem;
	position: relative;
	display: flex;
	align-items: center;
}

.card-content {
	flex: 1;
}

.card-title {
	margin: 0 0 0.25rem;
	@include policetexte;
}

.card-subtitle {
	margin: 0;
}

.card-btn {
	height: 2rem;
	width: 2rem;
	background-color: initial;
	border: 0 solid transparent;
	padding: 0;
	display: flex;
	align-items: center;
	justify-content: center;
}

.card-like {
	background-color: #fff !important;
}

/*les zones menu*/
.menu {
	margin-top: -4rem;
	border-radius: 2rem 2rem 0 0;
	background-color: #f6f6f6;
	z-index: 1;
	position: relative;
}

.menu-header {
	padding: 1rem 2rem 0 1rem;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.menu-title {
	font-family: Shrikhand, "cursive";
}

.menu-btn {
	height: 2rem;
	width: 2rem;
	background-color: initial;
	border: 0 solid transparent;
	padding: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	position: relative;
	background-color: #000;
}


.menu-btn:hover:before {
	opacity: 1;
}

.menu-btn:before {
	opacity: 0;
	transition: 0.5s;
	content: "";
	background: linear-gradient(0deg, #9356dc, #ff79da);
}

.menu-btn:before,
.menu-like {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
}
.menu-like {
	transition-duration: 0.25s;
	align-items: center;
	justify-content: center;
	mix-blend-mode: lighten;
}
/*le coeur dans les cards*/
.menu-btn:hover .menu-like-noBg {
	opacity: 0;
}
.menu-box {
	margin-top: -4rem !important;
	border-radius: 2rem 2rem 0 0;
	background-color: #f7f7f7;
	z-index: 1;
	position: relative;
}

.container-area {
	max-width: 1280px;
	margin: auto;
	height: auto !important;
	overflow: hidden;
	padding: 20px 25px;
}
.menu-btn:before,
.likeMenu {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
}


.menu-btn:hover .likeMenu--noBg {
	opacity: 0;
}

.likeMenu {
	transition-duration: .25s;
	background-color: #f6f6f6;
	display: flex;
	align-items: center;
	justify-content: center;
	mix-blend-mode: lighten;
}
.header-text {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	padding: 5px;
}

.header-text span {
	@include policelogo;
	font-size: x-large;
}
/*Animation check */
.menuSelection .checkIcon {
	color: #99e2d0;
	background: white;
	width: 20px;
	height: 20px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	opacity: 0;
}

.elements:hover .menuSelection .checkIcon {
	opacity: 100%;
	transform: rotate(360deg);
	transition: 0.4s ease-in-out;
}

.menuSelection {
	background: #99e2d0;
	cursor: pointer;
	width: 0;
	height: auto;
	border-radius: 0 15px 15px 0;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: transform 0.4s ease-in-out, width 0.4s ease-in-out, opacity 0.4s ease-in-out;
}

.elements:hover .menuSelection {
	opacity: 100%;
	width: 7rem;
}

.menu-item {
	background-color: white;
	width: 300px;
	height: 32px;
	border-radius: 10px 10px 10px 10px;
	font-size: small;
	animation: fadein 0.5s forwards;
	animation-iteration-count: 1;
	opacity: 0;
	display: flex;
	justify-content: space-between;
	margin: auto;
	padding: auto;
}

@media only screen and (max-width: 767px) {
	.card {
		width: 90%;
		margin: 10px auto;
	}
	.menu i {
		left: 0 !important;
	}
}
/* le boutton commander*/
.bottom-btn {
	display: flex;
	justify-content: center;
	align-items: center;
}
.cBtn {
	border: 0;
	padding: .75rem 1.5rem;
	font-weight: 500;
	font-size: 1.1rem;
	border-radius: 100px;
	color: #fff;
	background-image: linear-gradient(0deg, rgba(147, 86, 220, .9), rgba(255, 121, 218, .9));
	transition-duration: .25s;
	box-shadow: .25rem .25rem 10px rgba(0, 0, 0, .25);
	cursor: pointer;
}
.cBtn:hover {
	box-shadow: .25rem .25rem 10px rgba(0, 0, 0, .5);
}