header {
  font-family: "Shrikhand", cursive;
  font-size: xx-large;
  height: 50px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding-top: 10px;
  text-decoration: none;
  color: black;
}

header i {
  cursor: pointer;
  color: black;
}

.basDePage {
  background-color: #1f1d1d;
  margin-top: 0px;
}

.nav {
  font-family: "Roboto", sans-serif;
  color: white;
}
.nav .nav_link1 {
  font-family: "Shrikhand", cursive;
  list-style: none;
  padding-top: 10px;
  padding-bottom: 10px;
}
.nav .nav_link {
  list-style: none;
  padding-bottom: 5px;
  font-size: medium;
}
.nav .nav_link i {
  margin-right: 5px;
  width: 20px;
}
.nav .nav_link a {
  text-decoration: none;
  color: white;
}

.nav ul {
  overflow: hidden;
  margin: 0 !important;
}

* {
  box-sizing: border-box;
}

.box {
  box-sizing: border-box;
  /* Opera/IE 8+ */
  -moz-box-sizing: border-box;
  /* Firefox, autres Gecko */
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, autres WebKit */
}

.img {
  height: 70%;
}

img {
  border-radius: 10px 10px 0px 0px;
  width: 100%;
  max-height: 100%;
  object-fit: cover;
}

/*card */
.cards {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.card {
  background-color: #fff;
  border-radius: 1rem;
  position: relative;
  text-decoration: none;
  color: inherit;
  display: block;
  width: 48%;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
}

.card-img {
  height: 12rem;
  width: 100%;
  border: 0 solid transparent;
  border-radius: 1rem 1rem 0 0;
  box-shadow: none;
  object-fit: cover;
}

.card-badge {
  background-color: #99e2d0;
  color: #1b6150;
  padding: 0.5rem;
  border-radius: 0.125rem;
  position: absolute;
  top: 1rem;
  right: 0.75rem;
  font-weight: bold;
}

.card-footer {
  padding: 1rem;
  position: relative;
  display: flex;
  align-items: center;
}

.card-content {
  flex: 1;
}

.card-title {
  margin: 0 0 0.25rem;
  font-family: "Roboto", sans-serif;
}

.card-subtitle {
  margin: 0;
}

.card-btn {
  height: 2rem;
  width: 2rem;
  background-color: initial;
  border: 0 solid transparent;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-like {
  background-color: #fff !important;
}

/*les zones menu*/
.menu {
  margin-top: -4rem;
  border-radius: 2rem 2rem 0 0;
  background-color: #f6f6f6;
  z-index: 1;
  position: relative;
}

.menu-header {
  padding: 1rem 2rem 0 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu-title {
  font-family: Shrikhand, "cursive";
}

.menu-btn {
  height: 2rem;
  width: 2rem;
  background-color: initial;
  border: 0 solid transparent;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: relative;
  background-color: #000;
}

.menu-btn:hover:before {
  opacity: 1;
}

.menu-btn:before {
  opacity: 0;
  transition: 0.5s;
  content: "";
  background: linear-gradient(0deg, #9356dc, #ff79da);
}

.menu-btn:before,
.menu-like {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.menu-like {
  transition-duration: 0.25s;
  align-items: center;
  justify-content: center;
  mix-blend-mode: lighten;
}

/*le coeur dans les cards*/
.menu-btn:hover .menu-like-noBg {
  opacity: 0;
}

.menu-box {
  margin-top: -4rem !important;
  border-radius: 2rem 2rem 0 0;
  background-color: #f7f7f7;
  z-index: 1;
  position: relative;
}

.container-area {
  max-width: 1280px;
  margin: auto;
  height: auto !important;
  overflow: hidden;
  padding: 20px 25px;
}

.menu-btn:before,
.likeMenu {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.menu-btn:hover .likeMenu--noBg {
  opacity: 0;
}

.likeMenu {
  transition-duration: 0.25s;
  background-color: #f6f6f6;
  display: flex;
  align-items: center;
  justify-content: center;
  mix-blend-mode: lighten;
}

.header-text {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 5px;
}

.header-text span {
  font-family: "Shrikhand", cursive;
  font-size: x-large;
}

/*Animation check */
.menuSelection .checkIcon {
  color: #99e2d0;
  background: white;
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  opacity: 0;
}

.elements:hover .menuSelection .checkIcon {
  opacity: 100%;
  transform: rotate(360deg);
  transition: 0.4s ease-in-out;
}

.menuSelection {
  background: #99e2d0;
  cursor: pointer;
  width: 0;
  height: auto;
  border-radius: 0 15px 15px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.4s ease-in-out, width 0.4s ease-in-out, opacity 0.4s ease-in-out;
}

.elements:hover .menuSelection {
  opacity: 100%;
  width: 7rem;
}

.menu-item {
  background-color: white;
  width: 300px;
  height: 32px;
  border-radius: 10px 10px 10px 10px;
  font-size: small;
  animation: fadein 0.5s forwards;
  animation-iteration-count: 1;
  opacity: 0;
  display: flex;
  justify-content: space-between;
  margin: auto;
  padding: auto;
}

@media only screen and (max-width: 767px) {
  .card {
    width: 90%;
    margin: 10px auto;
  }

  .menu i {
    left: 0 !important;
  }
}
/* le boutton commander*/
.bottom-btn {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cBtn {
  border: 0;
  padding: 0.75rem 1.5rem;
  font-weight: 500;
  font-size: 1.1rem;
  border-radius: 100px;
  color: #fff;
  background-image: linear-gradient(0deg, rgba(147, 86, 220, 0.9), rgba(255, 121, 218, 0.9));
  transition-duration: 0.25s;
  box-shadow: 0.25rem 0.25rem 10px rgba(0, 0, 0, 0.25);
  cursor: pointer;
}

.cBtn:hover {
  box-shadow: 0.25rem 0.25rem 10px rgba(0, 0, 0, 0.5);
}

/* Loader animation */
@keyframes loader {
  to {
    opacity: 0;
    z-index: -10;
  }
}
@keyframes jump {
  0% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(0.5rem);
  }
  75% {
    transform: translateY(-0.5rem);
  }
  to {
    transform: translateY(0);
  }
}
.loader {
  position: fixed;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  background-color: rgba(255, 255, 255, 0.9);
  animation: loader;
  animation-delay: 1.75s;
  animation-fill-mode: both;
  z-index: 10000;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loader-item {
  height: 1rem;
  width: 1rem;
  border-radius: 1rem;
  animation: jump 1s;
}

.loader-Container {
  display: flex;
  width: 5rem;
  justify-content: space-between;
}

.loader-item1 {
  background-color: #9356dc;
}

.loader-item2 {
  background-color: #ff79da;
  animation-delay: 0.25s;
}

.loader-item3 {
  background-color: #99e2d0;
  animation-delay: 0.5s;
}

/*Pour le Mobile */
@media (max-width: 767px) {
  .body {
    margin-left: auto;
    margin-right: auto;
  }

  .search {
    background-color: #eaeaea;
    height: 40px;
    text-align: center;
  }

  .search input {
    padding-top: 9px;
    background-color: #eaeaea;
    border: none;
    color: black;
    text-align: center;
    margin-right: 30px;
    margin-left: 30px;
    padding-left: 30px;
    font-weight: bold;
    font-family: "Roboto", sans-serif;
  }

  .search i {
    position: relative;
    left: 80px;
  }

  .cta {
    padding: 30px;
    background-color: #f7f7f7;
    height: 220px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .first {
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    text-align: center;
    font-size: x-large;
    margin-bottom: 10px;
  }

  .second {
    font-family: "Roboto", sans-serif;
    text-align: center;
    font-size: medium;
    margin-bottom: 10px;
    color: gray;
  }

  .boutton {
    display: flex;
    justify-content: center;
    border-radius: 50px 50px 50px 50px;
    border: none;
    height: 40px;
    font-family: "Roboto", sans-serif;
    margin: auto;
    background: linear-gradient(#ff79da, #9356dc);
    color: white;
    cursor: pointer;
    margin: 0 !important;
  }

  .fonction {
    display: flex;
    flex-direction: column;
    margin-right: 5px;
  }

  .premierb {
    background-color: #f7f7f7;
    border-radius: 20px;
    height: 60px;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding: 20px;
    margin-top: 10px;
    font-family: "Roboto", sans-serif;
    font-size: small;
    font-weight: bold;
  }

  .premierb:hover {
    background-color: #e4d5f6;
  }

  .wrapper {
    display: flex;
    flex-direction: row;
  }

  .badge {
    padding: 3px 3px 3px;
    height: 21px;
    width: 21px;
    border-radius: 50%;
    text-align: center;
    background: #9356dc;
    color: #fefefe;
    position: relative;
    font-size: medium;
    top: 16px;
    left: 13px;
  }

  .premierb i {
    color: gray;
  }

  .premierb:hover {
    background-color: #e4d5f6;
    cursor: pointer;
  }

  .fonction span {
    font-size: small;
    margin-top: 10px;
    margin-left: 30px;
  }

  header i {
    position: relative;
    right: 50px;
    font-size: medium;
  }

  .restaurant {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  .nom {
    margin-top: 15px;
    padding-left: 35px;
    padding-top: 10px;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    font-size: large;
  }

  .capture img {
    border-radius: 0px 0px 0px 0px;
  }

  .firstbloc {
    background-color: #f7f7f7;
    margin: auto;
  }

  .menu {
    font-size: x-large;
    margin: auto;
  }

  .menuTitle {
    font-size: xx-small;
  }

  .menu span {
    font-family: "Shrikhand", cursive;
  }

  .menu i {
    position: relative;
    left: 85px;
  }

  .button {
    display: flex;
    justify-content: center;
    border-radius: 50px 50px 50px 50px;
    border: none;
    height: 40px;
    margin-left: 80px;
    font-family: "Roboto", sans-serif;
    background: linear-gradient(#ff79da, #9356dc);
    color: white;
    cursor: pointer;
    margin-top: 40px;
    text-align: center;
  }

  .elements p {
    padding-top: 5px;
    font-weight: bold;
    font-size: medium;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 2px;
  }

  .entree {
    font-size: large;
    padding-top: 10px;
    font-family: "Roboto", sans-serif;
    margin: auto;
  }

  .titre {
    border-bottom: solid #99e2d0 2px;
    width: 40px;
    padding-top: 20px;
  }

  .plat {
    font-size: large;
    padding-top: 10px;
    font-family: "Roboto", sans-serif;
    margin-bottom: 10px;
  }

  .dessert {
    font-size: large;
    padding-top: 10px;
    font-family: "Roboto", sans-serif;
    margin-bottom: 10px;
  }

  .elements {
    box-shadow: 2px 2px 0px #F2F2F2;
  }

  .souselement {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 10px;
    margin-right: 10px;
  }

  .price {
    font-weight: bold;
  }

  /*afficher progressivement*/
  .elements {
    background-color: white;
    height: 50px;
    border-radius: 10px 10px 10px 10px;
    padding-left: 4px;
    font-size: small;
    animation: fadein 0.5s forwards;
    animation-iteration-count: 1;
    opacity: 0;
    margin: auto;
    padding: auto;
  }

  @keyframes fadein {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  @-webkit-keyframes fadein {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  .elements:nth-child(1) {
    animation-delay: 0.5s;
  }

  .elements:nth-child(2) {
    animation-delay: 1s;
  }

  .elements:nth-child(3) {
    animation-delay: 1.5s;
  }

  .elements:nth-child(4) {
    animation-delay: 2s;
  }

  .elements:nth-child(5) {
    animation-delay: 2.5s;
  }

  .elements:nth-child(6) {
    animation-delay: 3s;
  }

  .elements:nth-child(7) {
    animation-delay: 3.5s;
  }

  .elements:nth-child(8) {
    animation-delay: 4s;
  }

  .elements:nth-child(9) {
    animation-delay: 4.5s;
  }
}
/*Pour le Desktop*/
@media (min-width: 992px) {
  .body {
    margin-left: auto;
    margin-right: auto;
  }

  .search {
    background-color: #eaeaea;
    height: 40px;
    text-align: center;
  }

  .search input {
    padding-top: 9px;
    background-color: #eaeaea;
    border: none;
    color: black;
    text-align: center;
    margin-right: 30px;
    margin-left: 30px;
    padding-left: 30px;
    font-weight: bold;
    font-family: "Roboto", sans-serif;
  }

  .search i {
    position: relative;
    left: 80px;
  }

  .cta {
    padding-top: 30px;
    background-color: #f7f7f7;
    height: 180px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .first {
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    text-align: center;
    font-size: large;
    margin-bottom: 10px;
  }

  .second {
    font-family: "Roboto", sans-serif;
    text-align: center;
    font-size: medium;
    margin-bottom: 10px;
    color: gray;
  }

  .boutton {
    text-align: center;
    border-radius: 50px 50px 50px 50px;
    border: none;
    height: 40px;
    margin-left: 550px;
    margin-right: auto;
    font-family: "Roboto", sans-serif;
    padding: 10px;
    background: linear-gradient(#ff79da, #9356dc);
    color: white;
    cursor: pointer;
    margin: 0 !important;
  }

  .fonction {
    display: flex;
    flex-direction: row;
    margin-right: 30px;
  }

  .premierb {
    background-color: #f7f7f7;
    border-radius: 20px;
    height: 60px;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding: 20px;
    margin-top: 10px;
    font-family: "Roboto", sans-serif;
    font-size: small;
    font-weight: bold;
  }

  .premierb:hover {
    background-color: #e4d5f6;
  }

  .wrapper {
    display: flex;
    flex-direction: row;
  }

  .badge {
    padding: 3px 3px 3px 3px;
    height: 21px;
    width: 21px;
    border-radius: 50%;
    text-align: center;
    background: #9356dc;
    color: #fefefe;
    position: relative;
    font-size: medium;
    top: 16px;
    left: 15px;
  }

  .premierb i {
    color: gray;
  }

  .premierb:hover {
    background-color: #e4d5f6;
    cursor: pointer;
  }

  .fonction span {
    font-size: small;
    margin-top: 10px;
    margin-left: 30px;
  }

  header i {
    position: relative;
    right: 50px;
    font-size: medium;
  }

  .firstbloc {
    background-color: #f7f7f7;
    height: 100%;
  }

  .restaurant {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 30px;
    background-color: #f7f7f7;
    height: 100%;
  }

  .nom {
    margin-top: 15px;
    padding-left: 35px;
    padding-top: 10px;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    font-size: large;
  }

  .capture img {
    border-radius: 0px 0px 0px 0px;
    height: 80%;
  }

  .menu {
    margin-top: 50px;
    margin-bottom: 20px;
    margin-right: 20px;
    margin-left: 20px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  .elements {
    background-color: white;
    width: 300px;
    height: 50px;
    border-radius: 10px 10px 10px 10px;
    padding-left: 4px;
    font-size: small;
    animation: fadein 0.5s forwards;
    animation-iteration-count: 1;
    opacity: 0;
  }

  @keyframes fadein {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  @-webkit-keyframes fadein {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  .elements:nth-child(1) {
    animation-delay: 0.5s;
  }

  .elements:nth-child(2) {
    animation-delay: 1s;
  }

  .elements:nth-child(3) {
    animation-delay: 1.5s;
  }

  .elements:nth-child(4) {
    animation-delay: 2s;
  }

  .elements:nth-child(5) {
    animation-delay: 2.5s;
  }

  .elements:nth-child(6) {
    animation-delay: 3s;
  }

  .elements:nth-child(7) {
    animation-delay: 3.5s;
  }

  .elements:nth-child(8) {
    animation-delay: 4s;
  }

  .elements:nth-child(9) {
    animation-delay: 4.5s;
  }

  .elements p {
    padding-top: 5px;
    font-weight: bold;
    font-size: medium;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 2px;
  }

  .entree {
    font-size: large;
    padding-top: 10px;
    font-family: "Roboto", sans-serif;
    margin-bottom: 10px;
  }

  .titre {
    border-bottom: solid #99e2d0 2px;
    width: 40px;
  }

  .plat {
    font-size: large;
    padding-top: 10px;
    font-family: "Roboto", sans-serif;
    margin-bottom: 10px;
  }

  .dessert {
    font-size: large;
    padding-top: 10px;
    font-family: "Roboto", sans-serif;
    margin-bottom: 10px;
  }

  .souselement {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 10px;
    margin-right: 10px;
  }

  .price {
    font-weight: bold;
  }

  .button {
    display: flex;
    justify-content: center;
    border-radius: 50px 50px 50px 50px;
    border: none;
    height: 40px;
    margin-left: 80px;
    font-family: "Roboto", sans-serif;
    background: linear-gradient(#ff79da, #9356dc);
    color: white;
    cursor: pointer;
    margin-top: 40px;
    text-align: center;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .body {
    margin-left: auto;
    margin-right: auto;
  }

  .search {
    background-color: #eaeaea;
    height: 40px;
    text-align: center;
  }

  .search input {
    padding-top: 9px;
    background-color: #eaeaea;
    border: none;
    color: black;
    text-align: center;
    margin-right: 30px;
    margin-left: 30px;
    padding-left: 30px;
    font-weight: bold;
    font-family: "Roboto", sans-serif;
  }

  .search i {
    position: relative;
    left: 80px;
  }

  .cta {
    padding-top: 30px;
    background-color: #f7f7f7;
    height: 180px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .first {
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    text-align: center;
    font-size: large;
    margin-bottom: 10px;
  }

  .second {
    font-family: "Roboto", sans-serif;
    text-align: center;
    font-size: medium;
    margin-bottom: 10px;
    color: gray;
  }

  .boutton {
    text-align: center;
    border-radius: 50px 50px 50px 50px;
    border: none;
    height: 40px;
    margin-left: 550px;
    margin-right: auto;
    font-family: "Roboto", sans-serif;
    padding: 10px;
    background: linear-gradient(#ff79da, #9356dc);
    color: white;
    cursor: pointer;
    margin: 0 !important;
  }

  .fonction {
    display: flex;
    flex-direction: column;
    margin-right: 30px;
  }

  .premierb {
    background-color: #f7f7f7;
    border-radius: 20px;
    height: 60px;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding: 20px;
    margin-top: 10px;
    font-family: "Roboto", sans-serif;
    font-size: small;
    font-weight: bold;
  }

  .premierb:hover {
    background-color: #e4d5f6;
  }

  .wrapper {
    display: flex;
    flex-direction: row;
  }

  .badge {
    padding: 3px 3px 3px 3px;
    height: 21px;
    width: 21px;
    border-radius: 50%;
    text-align: center;
    background: #9356dc;
    color: #fefefe;
    position: relative;
    font-size: medium;
    top: 16px;
    left: 200px;
  }

  .premierb i {
    color: gray;
  }

  .premierb:hover {
    background-color: #e4d5f6;
    cursor: pointer;
  }

  .fonction span {
    font-size: small;
    margin-top: 10px;
    margin-left: 30px;
  }

  header i {
    position: relative;
    right: 50px;
    font-size: medium;
  }

  .firstbloc {
    background-color: #f7f7f7;
    height: 100%;
  }

  .restaurant {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 30px;
    background-color: #f7f7f7;
    height: 100%;
  }

  .nom {
    margin-top: 15px;
    padding-left: 35px;
    padding-top: 10px;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    font-size: large;
  }

  .capture img {
    border-radius: 0px 0px 0px 0px;
    height: 80%;
  }

  .menu {
    margin-top: 50px;
    margin-bottom: 20px;
    margin-right: 20px;
    margin-left: 20px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  .elements {
    background-color: white;
    width: 300px;
    height: 50px;
    border-radius: 10px 10px 10px 10px;
    padding-left: 4px;
    font-size: small;
    animation: fadein 0.5s forwards;
    animation-iteration-count: 1;
    opacity: 0;
  }

  @keyframes fadein {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  @-webkit-keyframes fadein {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  .elements:nth-child(1) {
    animation-delay: 0.5s;
  }

  .elements:nth-child(2) {
    animation-delay: 1s;
  }

  .elements:nth-child(3) {
    animation-delay: 1.5s;
  }

  .elements:nth-child(4) {
    animation-delay: 2s;
  }

  .elements:nth-child(5) {
    animation-delay: 2.5s;
  }

  .elements:nth-child(6) {
    animation-delay: 3s;
  }

  .elements:nth-child(7) {
    animation-delay: 3.5s;
  }

  .elements:nth-child(8) {
    animation-delay: 4s;
  }

  .elements:nth-child(9) {
    animation-delay: 4.5s;
  }

  .elements p {
    padding-top: 5px;
    font-weight: bold;
    font-size: medium;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 2px;
  }

  .entree {
    font-size: large;
    padding-top: 10px;
    font-family: "Roboto", sans-serif;
    margin-bottom: 10px;
  }

  .titre {
    border-bottom: solid #99e2d0 2px;
    width: 40px;
  }

  .plat {
    font-size: large;
    padding-top: 10px;
    font-family: "Roboto", sans-serif;
    margin-bottom: 10px;
  }

  .dessert {
    font-size: large;
    padding-top: 10px;
    font-family: "Roboto", sans-serif;
    margin-bottom: 10px;
  }

  .souselement {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 10px;
    margin-right: 10px;
  }

  .price {
    font-weight: bold;
  }

  .button {
    display: flex;
    justify-content: center;
    border-radius: 50px 50px 50px 50px;
    border: none;
    height: 40px;
    margin-left: 80px;
    font-family: "Roboto", sans-serif;
    background: linear-gradient(#ff79da, #9356dc);
    color: white;
    cursor: pointer;
    margin-top: 40px;
    text-align: center;
  }
}
@media only screen and (max-width: 1200px) {
  .menu {
    flex-direction: column;
    justify-content: center;
  }

  .menuItem.elements {
    width: 100%;
  }

  .fonction {
    display: flex;
    flex-direction: column;
  }
}
.menuItem {
  border-radius: 15px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  display: flex;
  margin-top: 15px;
}
.menuItem:hover .checkIcon {
  opacity: 100%;
  transition: 0.4s ease-in-out !important;
  transform: rotate(360deg);
  font-size: 11px;
}
.menuItem .menuInfo {
  max-width: 100%;
  overflow: hidden;
  flex: 1;
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  padding-right: 10px;
  margin-left: auto;
  margin-right: auto;
}
.menuItem .menuInfo .menuText {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  white-space: nowrap;
  justify-content: center;
  margin-left: 10px;
  margin-right: 10px;
}
.menuItem .menuInfo .menuText .menuTitle {
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: bold;
  font-size: medium;
  margin: 0;
}

p.comment {
  margin: 0;
}

p.menuDetails {
  margin: 0;
  font-size: small;
  font-weight: 400;
  text-overflow: ellipsis;
  overflow: hidden;
}

.menuItem .menuSelection {
  background: #99e2d0;
  cursor: pointer;
  height: auto;
  width: 0;
  opacity: 0;
  border-radius: 0 15px 15px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.4s ease-in-out, width 0.4s ease-in-out, opacity 0.4s ease-in-out;
}
.menuItem:hover .menuSelection {
  opacity: 100%;
  width: 3rem;
}

/*# sourceMappingURL=style.css.map */
